<div class="ui middle aligned center aligned grid" [style.height.vh]="100">
    <div class="column" [style.max-width.px]="450">
        <h2 class="ui teal header">
            <div class="content">
                Create your account
            </div>
        </h2>
        <form [ngFormModel]="form" class="ui large form" (submit)="register()">
            <div class="ui stacked segment">
                <div class="field" *ngIf="true" [class.error]="!name.valid && !name.pristine">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" ngControl="name" placeholder="Full Name">
                    </div>
                </div>
                <div class="field" *ngIf="true" [class.error]="!username.valid && !username.pristine">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" ngControl="username" placeholder="Username">
                    </div>
                </div>
                <div class="field" *ngIf="true" [class.error]="!email.valid && !email.pristine">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" ngControl="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field" *ngIf="true" [class.error]="!password.valid && !password.prisitine">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" ngControl="password" placeholder="Password">
                    </div>
                </div>
                <div class="field" *ngIf="true" [class.error]="!confirm.valid && !confirm.prisitine">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" ngControl="confirm" placeholder="Confirm Password">
                    </div>
                </div>
                <button type="submit" [disabled]="!form.valid" class="ui fluid large teal submit button">Create Account</button>
                <div class="ui message">
                     Already have an account? <a [routerLink]="['Login']">Sign In</a>
                </div>
            </div>

            <div class="ui error message"></div>

        </form>

        
    </div>
</div>