<div class="container">
    <div class="center">
        <div *ngIf="login">
            <h1>Login</h1>
            <div *ngIf="error" class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> {{error}}
            </div>
            <form (submit)="loginUser(email.value, password.value)" #loginForm>
                <fieldset class="form-group">
                    <label for="email">Email address</label>
                    <input #email type="email" class="form-control" id="email" placeholder="Enter email" required>
                    <small class="text-muted">We'll never share your email with anyone else.</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input #password type="password" class="form-control" id="password" placeholder="Enter Password" required>
                </fieldset>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
                <a [routerLink]="['Auth', {type: 'register'}]">Create Account</a>
            </form>    
        </div>
        <div *ngIf="!login">
            <h1>Register</h1>
            <form (submit)="registerUser()" #registerForm>
                <fieldset class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" [(ngModel)]="user.name" class="form-control" id="name" placeholder="Enter name">
                </fieldset>
                <fieldset class="form-group">
                    <label for="username">Username</label>
                    <input type="text" [(ngModel)]="user.username" class="form-control" id="username" placeholder="Enter username">
                </fieldset>
                <fieldset class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" [(ngModel)]="user.email" class="form-control" id="email" placeholder="Enter email">
                    <small class="text-muted">We'll never share your email with anyone else.</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input type="password" [(ngModel)]="user.password" class="form-control" id="password" placeholder="Enter Password">
                </fieldset>
                <button type="submit" class="btn btn-primary">Register</button>
                <a [routerLink]="['Auth', {type: 'login'}]">Already have an account? Login</a>
            </form>
        </div>
    </div>
</div>